@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@theme {
  --animate-loader: loader 1s linear infinite;
  --color-background: #fff;
  --color-foreground: #000;
}

html[data-theme='dark'] {
  --color-background: #000;
  --color-foreground: #fff;
}
